.light-mode {
  /* Background colors */
  --color-background-primary: var(--color-light);
  --color-background-secondary: var(--color-light-gray);
  /* Text colors */
  --color-text: var(--color-darker);
  --color-light-text: var(--color-dark);
  /* Affirmative colors */
  --color-action-primary: var(--color-accent-primary);
  --color-action-secondary: var(--color-accent-secondary);
  /* Border colors */
  --border-color: var(--color-gray);
}