/* ----- TOKENS ----- */

/* CSS Variables */

:root {
  /* Colors */

  /* Brand colors */
  --color-brand: #98cf58;
  /* Action colors */
  --color-accent-primary: #639F55;
  --color-accent-secondary: #478054;
  /* Boolean colors */
  --color-affirmative-primary: #11922f;
  --color-affirmative-secondary: #61ab72;
  --color-negative-primary: #FF7272;
  --color-negative-secondary: #EE0000;
  /* Gray colors */
  --color-light: #F8F9FA;
  --color-light-gray: #E9ECEF;
  --color-gray: #DEE2E6;
  --color-dark: #343A40;
  --color-darker: #212529;
  
  
  /* Fonts */
  --font-heading: 'Montserrat';
  --font-body: 'Nunito';
  
  --font-weight-regular: 400;
      --font-weight-medium: 500;
      --font-weight-bold: 700;
      
  --font-size-XXL: 4rem;
  --font-size-XL: 3.2rem;
  --font-size-L: 2.4rem;
  --font-size-M: 2rem;
  --font-size-S: 1.6rem;
  --font-size-XS: 1.2rem;
  
  /* Spacing */
  --spacing-min-unit: 0.4rem;

  --spacing-XS: calc(var(--spacing-min-unit) * 1);
      --spacing-S: calc(var(--spacing-min-unit) * 2);
      --spacing-M: calc(var(--spacing-min-unit) * 4);
      --spacing-L: calc(var(--spacing-min-unit) * 6);
      --spacing-XL: calc(var(--spacing-min-unit) * 8);
      --spacing-XXL: calc(var(--spacing-min-unit) * 10);
      
  /* Borders */
  --border-style: solid;
  --border-width: 2px;
  --border-sharp: 0;
  --border-rounded: var(--spacing-M);
  --border-round: var(--spacing-L);
  --border-standard: var(--border-style) var(--border-width) var(--border-color);
}

/* Responsive measures */

@media (max-width: 768px) {
  :root {
    --responsive-multiplier-unit: 0.75;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  :root {
    --responsive-multiplier-unit: 0.825;
  }
}
@media (min-width: 992px) {
  :root {
    --responsive-multiplier-unit: 1;
  }
}

/* RESET STYLES */
html {
  font-size: calc(62.5% * var(--responsive-multiplier-unit));
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  all: unset;
  cursor: pointer;
} 
li {
  list-style: none;
}

/* Interface Color */
body {
  background-color: var(--color-background-primary);
}

/* Spacing */
main {
  padding: 0 var(--spacing-XL);
}
section {
  padding: var(--spacing-M) 0;
}